.childForm{
    width: 100%;
    height: 100vh;
    position: relative;
}

.childForm img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.childForm__content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.589);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.childForm__content-center{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 40%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.childForm__content-gender{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.childForm__content-gender__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.childForm__content-center form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 4rem;
    gap: 2rem;
}
.childForm__content-name{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    font-family: 'Cinzel', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;

}

.childForm__content-name input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 300px;
}

.childForm__content-child{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.childForm__content-child__buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.childForm__content-child__buttons button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.childForm__content-child__buttons button:hover{
    transform: scale(1.2);
}

.childForm__content-child p{
    font-family: 'Cinzel', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.childForm__content-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.childForm__content-done{
    padding: 0.5rem;
    width: 150px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(44, 124, 216, 0.918);
    color: white;
    cursor: pointer;
}

.childForm__content-center form h1{
      text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  @media screen and (max-width: 768px) {
    .childForm__content-center{
        width: 80%;

        
    }
  }

  @media screen and (max-width:600px) {
    
    .childForm__content-center{
        width: 85%; 
        height: 70% ;
    }
   
  }